/* Write your CSS here */
.main-cont {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cont {
  background: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  text-align: center;
  color: #fff;
  height: 300px;
  width: 800px;
  padding-top: 50px;
  border-radius: 10px;
}
